// app global css in SCSS form

body {
  background-color: #f4f3f4;
  font-family: "Inter", sans-serif;
}

h1,
h2,
.q-btn {
  font-family: "Syne", sans-serif;
}

h3 {
  font-family: "IBM Plex Mono", monospace;
}

.q-header {
  margin: 8px;
  @media (min-width: 768px) {
    margin: 16px;
  }
  border-radius: 8px;
  background-color: white;
  display: flex;
  box-shadow: 0px 4px 12px 5px rgba(0, 0, 0, 0.02);
  .logo {
    padding: 12px;
    @media (min-width: 768px) {
      padding: 16px;
    }
    border-right: 1px solid #f4f3f4;
    img {
      display: block;
      width: auto;
      height: 24px;
      @media (min-width: 768px) {
        height: 100%;
      }
    }
  }
}

.q-page {
  .text-h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    @media (min-width: 1024px) {
      font-size: 80px;
      line-height: 80px;
    }
    margin-bottom: 24px;
    .top {
      background: linear-gradient(180deg, #747474 30%, #000 80%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .bottom {
      background: linear-gradient(180deg, #ffc63a 30%, #be8700 80%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .small {
    font-size: 18px;
    line-height: 1.4em;
    color: #626262;
    a {
      color: #626262;
    }
  }
}

.q-btn--rounded {
  border-radius: 50px;
}

.q-field {
  font-size: 18px;
}

.q-field .q-field__control {
  padding: 0px 24px !important;
}

.custom-icon.q-icon:before {
  top: -2px;
  position: relative;
}

.q-form {
  max-width: 342px;
  margin-left: auto;
  margin-right: auto;
}

.note-holder {
  max-width: 300px;
  height: 300px;
  @media (min-width: 1024px) {
    max-width: 400px;
    height: 400px;
  }
}

.note {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  box-shadow: none;
  font-family: "Caveat";
  width: 300px;
  height: 300px;
  font-size: 32px;
  line-height: 28px;
  box-shadow: 0px 4px 60px -20px rgba(0, 0, 0, 0.02);
  transition: ease-in-out 0.3s all;
  text-align: center;
  @media (min-width: 1024px) {
    width: 400px;
    height: 400px;
    font-size: 40px;
    line-height: 36px;
    margin-left: -200px;
  }
  &.note-1,
  &.note-9,
  &.note-17,
  &.note-25 {
    background-color: #ffd92f;
    rotate: 1deg;
  }
  &.note-2,
  &.note-10,
  &.note-18,
  &.note-26 {
    background-color: #48daf3;
    rotate: 2deg;
  }
  &.note-3,
  &.note-11,
  &.note-19,
  &.note-27 {
    background-color: #61e39d;
    rotate: -1deg;
  }
  &.note-4,
  &.note-12,
  &.note-20,
  &.note-28 {
    background-color: #ffc15f;
    rotate: -2deg;
  }
  &.note-5,
  &.note-13,
  &.note-21,
  &.note-29 {
    background-color: #ffab9f;
    rotate: 3deg;
  }
  &.note-6,
  &.note-14,
  &.note-22,
  &.note-30 {
    background-color: #66ccff;
    rotate: -3deg;
  }
  &.note-7,
  &.note-15,
  &.note-23,
  &.note-31 {
    background-color: #e0b6ff;
    rotate: 1deg;
  }
  &.note-8,
  &.note-16,
  &.note-24,
  &.note-32 {
    background-color: #ffbaf5;
    rotate: -1deg;
  }
  .q-card__section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.single-idea {
  .container {
    max-width: 1024px;
    margin: 0px auto;
    padding: 0px 16px;
    &-small {
      max-width: 800px;
    }
  }
  .hero {
    padding: 40px 0px;
    text-align: center;
    @media (min-width: 768px) {
      padding: 80px 0px;
    }
  }
  .idea {
    margin-bottom: 40px;
    @media (min-width: 768px) {
      margin-bottom: 80px;
    }
  }
  .note {
    position: relative;
  }
  .mvp {
    background-color: #0073ba;
    background-size: 24px 24px;
    background-image: linear-gradient(
        to right,
        rgba(white, 0.05) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(white, 0.05) 1px, transparent 1px);
    .box {
      border: 1px solid rgba(white, 0.5);
    }
  }
  .box {
    @media (min-width: 1024px) {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      .left,
      .right {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .left {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    @media (min-width: 1024px) {
      padding: 24px;
      p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 0 0;
        align-self: stretch;
      }
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    position: relative;
    overflow: hidden;
  }

  .section {
    //margin: 40px 0px;
    padding: 40px 8px;
    color: white;
    @media (min-width: 768px) {
      //margin: 80px 0px;
      padding: 80px 8px;
    }
    h2 {
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      margin: 0px 0px 32px 0px;
    }
    h3 {
      font-size: 18px;
      line-height: 18px;
      opacity: 0.8;
      margin: 0px 0px 16px 0px;
    }
    p {
      font-size: 32px;
      line-height: 32px;
      font-family: "Caveat";
      @media (min-width: 768px) {
        font-size: 40px;
        line-height: 36px;
      }
    }
  }
  .users {
    background-color: #111;
    color: white;
    h2 {
      text-shadow: 2px 2px 0px #ff0048, -2px -2px 0px #00f7ef;
    }
    .left {
      background-color: rgba(white, 0.08);
    }
    .q-btn {
      box-shadow: 3px 3px 0px 0px #ff0048, -3px -3px 0px 0px #00f7ef;
    }
    .triangle-left {
      border-color: transparent transparent transparent darken(#242424, 2%);
    }

    .triangle-right {
      border-color: transparent darken(#242424, 3%) transparent transparent;
    }

    .triangle-top {
      border-color: darken(#242424, 1%) transparent transparent transparent;
    }

    .triangle-bottom {
      border-color: transparent transparent darken(#242424, 4%) transparent;
    }
  }
  .million {
    background-color: #eeefc9;
    h2 span {
      color: #009349 !important;
    }
    .box {
      background: rgba(#009349, 0.8);
      color: white;
    }
    .triangle-left {
      border-color: transparent transparent transparent darken(#009349, 2%);
    }

    .triangle-right {
      border-color: transparent darken(#009349, 3%) transparent transparent;
    }

    .triangle-top {
      border-color: darken(#009349, 1%) transparent transparent transparent;
    }

    .triangle-bottom {
      border-color: transparent transparent darken(#009349, 4%) transparent;
    }
  }
}

.triangles {
  position: absolute;
  z-index: 1;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  * {
    transition: all 0.6s ease-in-out;
  }
  &-open {
    .triangle-top {
      top: -100%;
    }
    .triangle-left {
      left: -100%;
    }
    .triangle-right {
      right: -100%;
    }
    .triangle-bottom {
      bottom: -100%;
    }
  }
}

.triangle-left {
  top: 0px;
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 512px 0 512px 512px;
  border-color: transparent transparent transparent darken(#0073ba, 2%);
  transform: rotate(0deg);
  top: 50%;
  left: 50%;
  margin-left: -512px;
  margin-top: -512px;
}

.triangle-right {
  right: 0px;
  top: 0px;
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 512px 512px 512px 0;
  border-color: transparent darken(#0073ba, 3%) transparent transparent;
  transform: rotate(0deg);
  top: 50%;
  right: 50%;
  margin-right: -512px;
  margin-top: -512px;
}

.triangle-top {
  position: absolute;
  top: 0px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 512px 512px 0 512px;
  border-color: darken(#0073ba, 1%) transparent transparent transparent;
  transform: rotate(0deg);
  top: 50%;
  left: 50%;
  margin-left: -512px;
  margin-top: -512px;
}

.triangle-bottom {
  position: absolute;
  bottom: 0px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 512px 512px 512px;
  border-color: transparent transparent darken(#0073ba, 4%) transparent;
  transform: rotate(0deg);
  bottom: 50%;
  left: 50%;
  margin-left: -512px;
  margin-bottom: -512px;
}

.q-icon.fa-size {
  font-size: 18px;
}

.q-btn {
  line-height: 1.1em;
}

.text-subtitle1 {
  line-height: 22px;
}

.text-h4 {
  line-height: 1em;
}
