// app global css in SCSS form

body {
  background-color: #f4f3f4;
  font-family: "Inter", sans-serif;
}

h1,
.q-btn {
  font-family: "Syne", sans-serif;
}

.q-header {
  margin: 16px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  box-shadow: 0px 4px 12px 5px rgba(0, 0, 0, 0.02);
  .logo {
    padding: 16px;
    border-right: 1px solid #f4f3f4;
    img {
      display: block;
      width: auto;
      height: 100%;
    }
  }
}

.q-page {
  .text-h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    @media (min-width: 1024px) {
      font-size: 80px;
      line-height: 80px;
    }
    margin-bottom: 24px;
    .top {
      background: linear-gradient(180deg, #747474 30%, #000 80%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .bottom {
      background: linear-gradient(180deg, #ffc63a 30%, #be8700 80%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .small {
    font-size: 18px;
    line-height: 1.4em;
    color: #626262;
    a {
      color: #626262;
    }
  }
}

.q-btn--rounded {
  border-radius: 50px;
}

.q-field {
  font-size: 18px;
}

.q-field .q-field__control {
  padding: 0px 24px !important;
}

.custom-icon.q-icon:before {
  top: -2px;
  position: relative;
}

.q-form {
  max-width: 342px;
  margin-left: auto;
  margin-right: auto;
}

.note {
  font-family: "Caveat";
  max-width: 300px;
  height: 300px;
  font-size: 32px;
  line-height: 32px;
  @media (min-width: 1024px) {
    max-width: 400px;
    height: 400px;
    font-size: 40px;
    line-height: 40px;
  }
  &.note-1 {
    background-color: #ffd92f;
    transform: rotate(1deg);
  }
  &.note-2 {
    background-color: #48daf3;
    transform: rotate(2deg);
  }
  &.note-3 {
    background-color: #61e39d;
    transform: rotate(-1deg);
  }
  &.note-4 {
    background-color: #ffc15f;
    transform: rotate(-2deg);
  }
  &.note-5 {
    background-color: #ffab9f;
    transform: rotate(3deg);
  }
  &.note-6 {
    background-color: #66ccff;
    transform: rotate(-3deg);
  }
  &.note-7 {
    background-color: #e0b6ff;
    transform: rotate(1deg);
  }
  &.note-8 {
    background-color: #ffbaf5;
    transform: rotate(-1deg);
  }
  .q-card__section {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
